# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
backup

node_modules
dist
dev-dist
dist-ssr
*.local
screenshots
!docs/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
tasks.md
agent.md


walkthrough
walkthrough.md

.env
*.enc


# Iframe embed files (not to be tracked)
iframe-embed.html
*-embed.html
.kilo
.qodo
design

